    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Sobre Mis Experiencias</h2>
                <p>Durante todo este tiempo he podido aprender las diferentes herramientas y utilidades que me han dado en cada materia, y a su vez aprender las buenas costumbres a traves de mis docentes. En estos meses se aprendieron muchas técnicas y tactitas de estudio que facilitan el estudio.</p>
                <p>Junto a cada docente se pudo aprender nuevas puntos que son esenciales para nuestra carrera, y de esa manera ellos siempre tratan de enseñarnos de la mejor manera posible, para que podamos entender y poder calificar con excelentes notas en cada materia, si bien es cierto, cada profesora tiene su manera de enseñar, y cada docente ha podido destacarse, por lo que, cuando termine mi carrera, quisiera volver a trabajar junto a ellos.</p>
              </div>
        </div>
    </section>
